In [4]:
my_list = [1, 2, 3]
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list.index)

1
2
3
<built-in method index of list object at 0x7ce444310840>

In [2]:
my_set = {1, 2, 3}
print(my_set)

my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

book_set = set(("Harry Potter", "Angel and Demons", "Atlas Shrugged"))
print(book_set)

{1, 2, 3}
{'Hello', 1.0, (1, 2, 3)}
{'Angel and Demons', 'Harry Potter', 'Atlas Shrugged'}